* {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
