* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

button {
  padding: 8px 16px;

  /* Typography */
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;

  /* Visual */
  border-radius: 8px;
  border: none;
  background: #4e75ff;
}

button:hover,
button:focus {
  background: #6c8cff;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

/* task 1 */
#categories {
  padding: 24px;
  width: 440px;
}

.item > h2 {
  /* Box model */
  margin-top: unset;
  margin-bottom: 16px;

  /* Typography */
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.item {
  /* Box model */
  padding: 16px;

  /* Visual */
  border-radius: 8px;
  background: #f6f6fe;
}

.item li {
  /* Box model */
  margin-bottom: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;

  /* Typography */
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;

  /* Visual */
  border-radius: 4px;
  border: 1px solid #808080;
}

li:last-child {
  margin-bottom: 0;
}

/* task 2 */
.gallery {
  /* Box model */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px 156px;
  gap: 48px 24px;
}

.gallery > li {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* task 3 */

.text::placeholder {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#name-input {
  /* Box model */
  padding: 8px 16px;
  width: 360px;
  height: 40px;

  /* Visual */
  border-radius: 4px;
  border: 1px solid #808080;
}

input + h1 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.04em;
}

/* task 4 */

.login-form {
  /* Box model */
  padding: 24px;
}

.login-form > label {
  /* Box model */
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  /* Typography */
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.login-form input {
  width: 360px;
  height: 40px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.login-form > button {
  margin-top: 8px;
}

/* task 5 */

.widget {
  padding: 100px 88px;
}

/* task 6 */

#controls > input {
  padding: 8px 44px;

  /* Typography */
  text-align: center;
  font-size: 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;

  /* Visual */
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #808080;
}

#controls > input:placeholder-shown {
  /* Typography */
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

#controls {
  width: 486px;
  padding: 32px;
  margin-bottom: 16px;
  /* Visual */
  border-radius: 8px;
  background: #f6f6fe;
}

#boxes {
  /* Box model */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 486px;
  padding: 32px;

  /* Visual */
  border-radius: 8px;
  background: #f6f6fe;
}

button[data-destroy] {
  background: #ff4e4e;
}

button[data-destroy]:hover,
button[data-destroy]:focus {
  background: #ff7070;
}
